pipeline/pl_first_master.json
{
	"name": "pl_first_master",
	"properties": {
		"activities": [
			{
				"name": "ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "loggingpiplinestart",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set datato unix",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set datefrom unix",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"plp_fromdate": {
							"value": "@variables('FromDate')",
							"type": "Expression"
						},
						"plp_todate": {
							"value": "@variables('Todate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Transformation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_transaformation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"plp_union_folder": {
							"value": "@pipeline().parameters.mplp_union_folder",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tags": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"sql_schema": {
							"value": "@pipeline().parameters.mplp_sql_schema",
							"type": "Expression"
						},
						"sql_table_fact": {
							"value": "@pipeline().parameters.mplp_sql_fact_table",
							"type": "Expression"
						},
						"sql_table_dim": {
							"value": "@pipeline().parameters.mplp_sql_dim_table",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "loggingpiplinestart",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Insert into logging.pipelinerun (PipelineRunID, PipelineName, PipelineStartTime, PipelineEndTime, PipelineStatus)\r\nValues(\r\n    '@{pipeline().RunId}',\r\n    '@{pipeline().Pipeline}',\r\n    GetUTCDATE(),\r\n    Null,\r\n    'Starting'\r\n\r\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "loggingpiplineend",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Update logging.pipelinerun\r\nset\r\n    PipelineEndTime = GETUTCDATE(),\r\n    PipelineStatus = '@{activity('load').status}'\r\nwhere\r\n    PipelineRunID = '@{pipeline().RunID}'\r\n    and PipelineStatus = 'Starting'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select PipelineStartTime\nfrom logging.piplinerun\nwhere PipelineName = '@{pipeline().Pipeline}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"sql_schema": {
								"value": "@pipeline().parameters.mplp_sql_logging_schema",
								"type": "Expression"
							},
							"sql_table": {
								"value": "@pipeline().parameters.mplp_sql_logging_view",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set datefrom unix",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FromDate",
					"value": {
						"value": "@{div(sub(ticks(activity('Lookup1').output.firstRow.PipelineStartTime), ticks('1970-01-01')), 10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set datato unix",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Todate",
					"value": {
						"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')), 10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sendemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-55.eastus.logic.azure.com:443/workflows/a09edf9128b54b27b4485a11278957bc/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Rld3-qoljfcICt_x7K5tyg2LnvqJvE2xF5bGMeNpVOs",
					"body": {
						"message": "the pipeline with run id @{pipeline().RunID} is having an issue.",
						"PipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					}
				}
			}
		],
		"parameters": {
			"mplp_tag": {
				"type": "array",
				"defaultValue": [
					"Python",
					"databricks",
					"azure-data-factory"
				]
			},
			"mplp_union_folder": {
				"type": "string",
				"defaultValue": "union"
			},
			"mplp_fact_folder": {
				"type": "string",
				"defaultValue": "fact"
			},
			"mplp_dim_folder": {
				"type": "string",
				"defaultValue": "dim"
			},
			"mplp_sql_schema": {
				"type": "string",
				"defaultValue": "sto"
			},
			"mplp_sql_fact_table": {
				"type": "string",
				"defaultValue": "factQuestions"
			},
			"mplp_sql_dim_table": {
				"type": "string",
				"defaultValue": "dimOwners"
			},
			"mplp_sql_logging_schema": {
				"type": "string",
				"defaultValue": "logging"
			},
			"mplp_sql_logging_view": {
				"type": "string",
				"defaultValue": "piplinerun"
			},
			"receiver": {
				"type": "string",
				"defaultValue": "xiuming.l@outlook.com"
			}
		},
		"variables": {
			"Todate": {
				"type": "String"
			},
			"FromDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T06:34:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}