pipeline/pl_first_master.json
{
	"name": "pl_first_master",
	"properties": {
		"activities": [
			{
				"name": "ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "loggingpiplinestart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Transformation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_transaformation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tag": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"plp_union_folder": {
							"value": "@pipeline().parameters.mplp_union_folder",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"plp_tags": {
							"value": "@pipeline().parameters.mplp_tag",
							"type": "Expression"
						},
						"sql_schema": {
							"value": "@pipeline().parameters.mplp_sql_schema",
							"type": "Expression"
						},
						"sql_table_fact": {
							"value": "@pipeline().parameters.mplp_sql_fact_table",
							"type": "Expression"
						},
						"sql_table_dim": {
							"value": "@pipeline().parameters.mplp_sql_dim_table",
							"type": "Expression"
						},
						"plp_fact_folder": {
							"value": "@pipeline().parameters.mplp_fact_folder",
							"type": "Expression"
						},
						"plp_dim_folder": {
							"value": "@pipeline().parameters.mplp_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "loggingpiplinestart",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Insert into logging.Piplinerun (Piplinerun, PiplineName, PiplineStartTime, PiplineEndTime, PiplineStatus)\r\nValues(\r\n    '(@pipeline().RunId)'\r\n    '(@pipeline().Pipeline)'\r\n    GetUTCDATE(),\r\n    Null,\r\n    'Starting'\r\n\r\n)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "loggingpiplineend",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Update logging.piplinerun\r\nset\r\n    PiplineEndTime = GETUTCDATE(),\r\n    PiplineStatus = '@{activity('load').status}'\r\nwhere\r\n    PiplineID = '@{pipline().RunID}'\r\n    and PiplineStauts = 'Starting'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"mplp_tag": {
				"type": "array",
				"defaultValue": [
					"Python",
					"databricks",
					"azure-data-factory"
				]
			},
			"mplp_union_folder": {
				"type": "string",
				"defaultValue": "union"
			},
			"mplp_fact_folder": {
				"type": "string",
				"defaultValue": "fact"
			},
			"mplp_dim_folder": {
				"type": "string",
				"defaultValue": "dim"
			},
			"mplp_sql_schema": {
				"type": "string",
				"defaultValue": "sto"
			},
			"mplp_sql_fact_table": {
				"type": "string",
				"defaultValue": "factQuestions"
			},
			"mplp_sql_dim_table": {
				"type": "string",
				"defaultValue": "dimOwners"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T06:34:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}